.c-message {
  .c-message__wrap {
  }
}

.c-content {
  @include size(inherit);

  .a-content {
    @include size(inherit);

    // transform: translateX(100%);
    opacity: 0;
  }

  .c-content__wrap {
    @include size(inherit);
    @include flex(center, center, column);

    padding: clamp(1px, px2vw(15), 15px) clamp(1px, px2vw(20), 20px);
    background-color: rgba($color: $c-grayscale-fff, $alpha: 100%);
    border: clamp(1px, px2vw(4), 4px) solid #00afff;
    border-radius: clamp(1px, px2vw(70), 70px);
    filter: drop-shadow(0 clamp(1px, px2vw(4), 4px) #00a5f0);

    .o-text {
      font-size: clamp(1px, px2vw(20), 20px);
      color: #00afff;
      line-height: clamp(1px, px2vw(20), 20px);
      letter-spacing: clamp(1px, px2vw(0.3), 0.3px);
    }
  }
}
