.c-message {
  .c-message__wrap {
    .c-inner {
      @include image-inner(500, 200);

      width: 200px;
    }

    .l-content {
      @include size(100%);

      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
    }

    .c-content {
      @include size(inherit);

      .a-content {
        @include size(inherit);

        // transform: translateX(100%);
        opacity: 0;
      }

      .c-content__wrap {
        @include size(inherit);
        @include flex(center, center, column);

        padding: 10px 20px;
        background-color: rgba($color: $c-grayscale-ddd, $alpha: 100%);
        border-radius: 10px;

        .o-text {
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 0.3px;
        }
      }
    }
  }
}
