<section class="c-login duration-250" :class="_classRoot">
  <div class="c-login__wrap relative">
    <div class="c-background">
      <div class="c-background__wrap"></div>
    </div>
    <div class="l-panel">
      <div class="c-panel">
        <div class="c-panel__wrap">
          <form class="c-form">
            <div class="c-form__wrap">
              <div class="l-input">
                <div class="c-input c-name-input">
                  <input
                    type="text"
                    placeholder="name"
                    class="o-input f-os"
                    v-model.trim="name"
                  />
                </div>
              </div>
              <div class="l-input">
                <div class="c-input c-email-input">
                  <input
                    type="email"
                    placeholder="email"
                    class="o-input f-os"
                    v-model.trim="email"
                  />
                </div>
              </div>
              <div class="l-login-btn">
                <button class="c-login-btn pointer" @click="onLogin">
                  <div class="c-login-btn__wrap duration-250 f-os">login</div>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
