.c-popup {
  @include size(inherit);

  opacity: 0;
  pointer-events: none;

  .c-popup__wrap {
    @include size(inherit);
  }
}

.c-background {
  @include size(inherit);

  touch-action: none;

  .c-background__wrap {
    @include size(inherit);

    background-image: url('~/assets/images/common/pic-bg-01.png');
    background-repeat: repeat;
    background-size: 10%;
    opacity: 1;
  }
}

.l-introduction-panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.c-introduction-panel {
  pointer-events: none;
  opacity: 0;

  .c-introduction-panel__wrap {
  }

  .c-background {
    .o-image {
      @include image-inner(1742, 930);

      width: clamp(1px, px2vw(500), 500px);
    }
  }

  .l-character {
    position: absolute;
    top: clamp(-55px, px2vw(-55), 1px);
    left: clamp(1px, px2vw(245), 245px);
    z-index: 10;
  }

  .c-character {
    .o-image {
      @include image-inner(391, 286);

      width: clamp(1px, px2vw(225), 225px);
    }
  }

  .l-title {
    position: absolute;
    top: clamp(1px, px2vw(10), 10px);
    left: clamp(1px, px2vw(40), 40px);
    z-index: 10;
  }

  .c-title {
    .o-image {
      @include image-inner(424, 230);

      width: clamp(1px, px2vw(120), 120px);
    }
  }

  .l-btn-prev {
    position: absolute;
    bottom: clamp(1px, px2vw(75), 75px);
    left: clamp(1px, px2vw(25), 25px);
    z-index: 10;
  }

  .c-btn-prev {
    .a-btn {
      &:hover {
        opacity: 0.5;
      }
    }

    .o-image {
      @include image-inner(130, 132);

      width: clamp(1px, px2vw(42), 42px);
      filter: drop-shadow(0 3px 2px #0097ee66);
    }
  }

  .l-btn-next {
    position: absolute;
    right: clamp(1px, px2vw(25), 25px);
    bottom: clamp(1px, px2vw(75), 75px);
    z-index: 10;
  }

  .c-btn-next {
    .a-btn {
      &:hover {
        opacity: 0.5;
      }
    }

    .o-image {
      @include image-inner(130, 132);

      transform: scaleX(-1);
      width: clamp(1px, px2vw(42), 42px);
      filter: drop-shadow(0 3px 2px #0097ee66);
    }
  }

  .l-content {
    position: absolute;
    bottom: clamp(1px, px2vw(100), 100px);
    left: 50%;
    z-index: 10;
    width: clamp(1px, px2vw(300), 300px);
    transform: translate(-50%, 50%);
  }

  .c-content {
    .c-content__wrap {
      width: 100%;
      max-width: 300px;
    }

    .o-text {
      font-size: clamp(1px, px2vw(16), 16px);
      line-height: 1.25;
      letter-spacing: clamp(1px, px2vw(1.04), 1.04px);
      color: #8e8e93;
    }
  }

  .l-btn-skip {
    position: absolute;
    bottom: clamp(1px, px2vw(40), 40px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }

  .c-btn-skip {
    .a-btn {
      &:hover {
        opacity: 0.5;
      }
    }

    .o-image {
      @include image-inner(402, 76);

      width: clamp(1px, px2vw(40), 40px);
    }
  }
}

.l-find-panel {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
}

.c-find-panel {
  opacity: 0;

  .c-background {
    .o-image {
      @include image-inner(560, 469);

      width: clamp(1px, px2vw(560), 560px);
    }
  }

  .l-content {
    position: absolute;
    bottom: clamp(1px, px2vw(123), 123px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
  }

  .c-content {
    .o-text {
      font-size: clamp(1px, px2vw(20), 20px);
      color: #8e8e93;
    }
  }

  .l-deco-01 {
    position: absolute;
    top: clamp(1px, px2vw(78), 78px);
    left: clamp(1px, px2vw(25), 25px);
    z-index: 10;

    .a-block {
      animation: deco-fall 1s 0s infinite forwards ease-in-out;
    }
  }

  .c-deco-01 {
    .o-image {
      @include image-inner(44, 49);

      width: clamp(1px, px2vw(44), 44px);
    }
  }

  .l-deco-02 {
    position: absolute;
    top: clamp(1px, px2vw(125), 125px);
    left: clamp(1px, px2vw(80), 80px);
    z-index: 10;

    .a-block {
      animation: deco-fall 1.15s -1s infinite forwards ease-in-out;
    }
  }

  .c-deco-02 {
    .o-image {
      @include image-inner(54, 50);

      width: clamp(1px, px2vw(54), 54px);
    }
  }

  .l-deco-03 {
    position: absolute;
    top: 0;
    left: clamp(1px, px2vw(120), 120px);
    z-index: 10;

    .a-block {
      animation: deco-fall 1.5s 0s infinite forwards ease-in-out;
    }
  }

  .c-deco-03 {
    .o-image {
      @include image-inner(22, 22);

      width: clamp(1px, px2vw(22), 22px);
    }
  }

  .l-deco-04 {
    position: absolute;
    top: clamp(1px, px2vw(98), 98px);
    left: clamp(1px, px2vw(192), 192px);
    z-index: 10;

    .a-block {
      animation: deco-fall 1.75s -0.1s infinite forwards ease-in-out;
    }
  }

  .c-deco-04 {
    .o-image {
      @include image-inner(22, 22);

      width: clamp(1px, px2vw(22), 22px);
    }
  }

  .l-deco-05 {
    position: absolute;
    top: clamp(1px, px2vw(40), 40px);
    left: clamp(1px, px2vw(140), 140px);
    z-index: 10;

    .a-block {
      animation: deco-rotate 1s 0s infinite forwards linear;
    }
  }

  .c-deco-05 {
    .o-image {
      @include image-inner(1, 1);

      width: clamp(1px, px2vw(39), 39px);
    }
  }

  .l-deco-06 {
    position: absolute;
    top: clamp(-15px, px2vw(-15), 1px);
    left: clamp(1px, px2vw(190), 190px);
    z-index: 10;

    .a-block {
      animation: deco-rotate 1.75s -1s infinite forwards linear;
    }
  }

  .c-deco-06 {
    .s-block {
      transform: scale(1.3);
    }

    .o-image {
      @include image-inner(1, 1);

      width: clamp(1px, px2vw(39), 39px);
    }
  }

  .l-deco-07 {
    position: absolute;
    top: clamp(1px, px2vw(185), 185px);
    left: clamp(1px, px2vw(140), 140px);
    z-index: 10;

    .a-block {
      animation: deco-rotate 1s -1.5s infinite forwards linear;
    }
  }

  .c-deco-07 {
    .s-block {
      transform: rotateZ(45deg);
    }

    .o-image {
      @include image-inner(1, 1);

      width: clamp(1px, px2vw(39), 39px);
    }
  }

  .l-deco-08 {
    position: absolute;
    top: clamp(1px, px2vw(55), 55px);
    left: clamp(1px, px2vw(345), 345px);
    z-index: 10;

    .a-block {
      animation: deco-rotate 1.5s -0.5s infinite forwards linear;
    }
  }

  .c-deco-08 {
    .o-image {
      @include image-inner(1, 1);

      width: clamp(1px, px2vw(39), 39px);
    }
  }

  .l-deco-09 {
    position: absolute;
    top: clamp(1px, px2vw(188), 188px);
    left: clamp(1px, px2vw(390), 390px);
    z-index: 10;

    .a-block {
      animation: deco-fall 2s -0.6s infinite forwards linear;
    }
  }

  .c-deco-09 {
    .o-image {
      @include image-inner(1, 1);

      width: clamp(1px, px2vw(25), 25px);
    }
  }

  .l-deco-10 {
    position: absolute;
    top: clamp(1px, px2vw(90), 90px);
    left: clamp(1px, px2vw(495), 495px);
    z-index: 10;

    .a-block {
      animation: deco-fall 1.75s -1s infinite forwards ease-in-out;
    }
  }

  .c-deco-10 {
    .o-image {
      @include image-inner(1, 1);

      width: clamp(1px, px2vw(25), 25px);
    }
  }

  .l-deco-11 {
    position: absolute;
    top: clamp(1px, px2vw(135), 135px);
    left: clamp(1px, px2vw(435), 435px);
    z-index: 10;

    .a-block {
      animation: deco-fall 1.5s -0.2s infinite forwards ease-in-out;
    }
  }

  .c-deco-11 {
    .o-image {
      @include image-inner(53, 37);

      width: clamp(1px, px2vw(53), 53px);
    }
  }

  .l-deco-12 {
    position: absolute;
    top: clamp(-20px, px2vw(-20), 1px);
    left: clamp(1px, px2vw(395), 395px);
    z-index: 10;

    .a-block {
      animation: deco-fall 1.5s 0s infinite forwards ease-in-out;
    }
  }

  .c-deco-12 {
    .o-image {
      @include image-inner(80, 86);

      width: clamp(1px, px2vw(80), 80px);
    }
  }
}

.l-message-panel {
  touch-action: none;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.c-message-panel {
  opacity: 0;

  .c-background {
    .o-image {
      @include image-inner(772, 426);

      width: clamp(1px, px2vw(386), 386px);
    }
  }

  .l-content {
    position: absolute;
    top: clamp(1px, px2vw(57), 57px);
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
  }

  .c-content {
    .o-text {
      font-size: clamp(1px, px2vw(20), 20px);
      color: #8e8e93;
    }
  }
}
