<section class="c-popup duration-250" :class="_classRoot">
  <div class="c-popup__wrap reltive">
    <div class="c-background">
      <div class="c-background__wrap"></div>
    </div>
    <div class="l-introduction-panel pointer-events-none">
      <div
        class="c-introduction-panel duration-250"
        :class="_classIntroduction"
      >
        <div class="c-introduction-panel__wrap relative">
          <div class="c-background">
            <div class="o-image relative">
              <picture class="image-obj">
                <source
                  media="(max-width: 640px)"
                  :srcset="introduction.background.imgUrl_m"
                />
                <img
                  :src="introduction.background.imgUrl"
                  :alt="introduction.background.alt"
                  class="w-full"
                />
              </picture>
            </div>
          </div>
          <div class="l-character">
            <div class="c-character">
              <div class="o-image relative">
                <picture class="image-obj">
                  <source
                    media="(max-width: 640px)"
                    :srcset="introduction.character.imgUrl_m"
                  />
                  <img
                    :src="introduction.character.imgUrl"
                    :alt="introduction.character.alt"
                    class="w-full"
                  />
                </picture>
              </div>
            </div>
          </div>
          <div class="l-title">
            <div class="c-title">
              <div class="o-image relative">
                <picture class="image-obj">
                  <source
                    media="(max-width: 640px)"
                    :srcset="introduction.title.imgUrl_m"
                  />
                  <img
                    :src="introduction.title.imgUrl"
                    :alt="introduction.title.alt"
                    class="w-full"
                  />
                </picture>
              </div>
            </div>
          </div>
          <div class="l-btn-prev">
            <button class="c-btn-prev pointer" @click="onIntroPrevClick">
              <div class="a-btn duration-250">
                <div class="o-image relative">
                  <picture class="image-obj">
                    <source
                      media="(max-width: 640px)"
                      :srcset="introduction.arrowBtn.imgUrl_m"
                    />
                    <img
                      :src="introduction.arrowBtn.imgUrl"
                      :alt="introduction.arrowBtn.alt"
                      class="w-full"
                    />
                  </picture>
                </div>
              </div>
            </button>
          </div>
          <div class="l-btn-next">
            <button class="c-btn-next pointer" @click="onIntroNextClick">
              <div class="a-btn duration-250">
                <div class="o-image relative">
                  <picture class="image-obj">
                    <source
                      media="(max-width: 640px)"
                      :srcset="introduction.arrowBtn.imgUrl_m"
                    />
                    <img
                      :src="introduction.arrowBtn.imgUrl"
                      :alt="introduction.arrowBtn.alt"
                      class="w-full"
                    />
                  </picture>
                </div>
              </div>
            </button>
          </div>
          <div class="l-content">
            <div class="c-content">
              <div class="c-content__wrap">
                <p class="o-text text-center" v-html="getIntroContent"></p>
              </div>
            </div>
          </div>
          <div class="l-btn-skip">
            <button
              class="c-btn-skip pointer"
              @click="introduction.closeBtn.onClickHandler"
            >
              <div class="a-btn duration-250">
                <div class="o-image relative">
                  <picture class="image-obj">
                    <source
                      media="(max-width: 640px)"
                      :srcset="introduction.closeBtn.picture.imgUrl_m"
                    />
                    <img
                      :src="introduction.closeBtn.picture.imgUrl"
                      :alt="introduction.closeBtn.picture.alt"
                      class="w-full"
                    />
                  </picture>
                </div>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="l-find-panel pointer-events-none">
      <div class="c-find-panel duration-250" :class="_classFind">
        <div class="c-find-panel__wrap relative">
          <div class="c-background">
            <div class="o-image relative">
              <picture class="image-obj">
                <source
                  media="(max-width: 640px)"
                  :srcset="findPanel.background.imgUrl_m"
                />
                <img
                  :src="findPanel.background.imgUrl"
                  :alt="findPanel.background.alt"
                  class="w-full"
                />
              </picture>
            </div>
          </div>
          <div class="l-content w-ufll">
            <div class="c-content">
              <p class="o-text font-medium f-noto text-center">
                {{ findPanel.content.text }}
              </p>
            </div>
          </div>
          <div class="l-deco-01">
            <div class="a-block">
              <div class="c-deco-01">
                <div class="o-image relative">
                  <picture class="image-obj">
                    <source
                      media="(max-width: 640px)"
                      :srcset="findPanel.deco1.imgUrl_m"
                    />
                    <img
                      :src="findPanel.deco1.imgUrl"
                      :alt="findPanel.deco1.alt"
                      class="w-full"
                    />
                  </picture>
                </div>
              </div>
            </div>
          </div>
          <div class="l-deco-02">
            <div class="a-block">
              <div class="c-deco-02">
                <div class="o-image relative">
                  <picture class="image-obj">
                    <source
                      media="(max-width: 640px)"
                      :srcset="findPanel.deco2.imgUrl_m"
                    />
                    <img
                      :src="findPanel.deco2.imgUrl"
                      :alt="findPanel.deco2.alt"
                      class="w-full"
                    />
                  </picture>
                </div>
              </div>
            </div>
          </div>
          <div class="l-deco-03">
            <div class="a-block">
              <div class="c-deco-03">
                <div class="o-image relative">
                  <picture class="image-obj">
                    <source
                      media="(max-width: 640px)"
                      :srcset="findPanel.deco3.imgUrl_m"
                    />
                    <img
                      :src="findPanel.deco3.imgUrl"
                      :alt="findPanel.deco3.alt"
                      class="w-full"
                    />
                  </picture>
                </div>
              </div>
            </div>
          </div>
          <div class="l-deco-04">
            <div class="a-block">
              <div class="c-deco-04">
                <div class="o-image relative">
                  <picture class="image-obj">
                    <source
                      media="(max-width: 640px)"
                      :srcset="findPanel.deco3.imgUrl_m"
                    />
                    <img
                      :src="findPanel.deco3.imgUrl"
                      :alt="findPanel.deco3.alt"
                      class="w-full"
                    />
                  </picture>
                </div>
              </div>
            </div>
          </div>
          <div class="l-deco-05">
            <div class="a-block">
              <div class="c-deco-05">
                <div class="o-image relative">
                  <picture class="image-obj">
                    <source
                      media="(max-width: 640px)"
                      :srcset="findPanel.deco4.imgUrl_m"
                    />
                    <img
                      :src="findPanel.deco4.imgUrl"
                      :alt="findPanel.deco4.alt"
                      class="w-full"
                    />
                  </picture>
                </div>
              </div>
            </div>
          </div>
          <div class="l-deco-06">
            <div class="a-block">
              <div class="c-deco-06">
                <div class="s-block">
                  <div class="o-image relative">
                    <picture class="image-obj">
                      <source
                        media="(max-width: 640px)"
                        :srcset="findPanel.deco4.imgUrl_m"
                      />
                      <img
                        :src="findPanel.deco4.imgUrl"
                        :alt="findPanel.deco4.alt"
                        class="w-full"
                      />
                    </picture>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="l-deco-07">
            <div class="a-block">
              <div class="c-deco-07">
                <div class="s-block">
                  <div class="o-image relative">
                    <picture class="image-obj">
                      <source
                        media="(max-width: 640px)"
                        :srcset="findPanel.deco4.imgUrl_m"
                      />
                      <img
                        :src="findPanel.deco4.imgUrl"
                        :alt="findPanel.deco4.alt"
                        class="w-full"
                      />
                    </picture>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="l-deco-08">
            <div class="a-block">
              <div class="c-deco-08">
                <div class="o-image relative">
                  <picture class="image-obj">
                    <source
                      media="(max-width: 640px)"
                      :srcset="findPanel.deco4.imgUrl_m"
                    />
                    <img
                      :src="findPanel.deco4.imgUrl"
                      :alt="findPanel.deco4.alt"
                      class="w-full"
                    />
                  </picture>
                </div>
              </div>
            </div>
          </div>
          <div class="l-deco-09">
            <div class="a-block">
              <div class="c-deco-09">
                <div class="o-image relative">
                  <picture class="image-obj">
                    <source
                      media="(max-width: 640px)"
                      :srcset="findPanel.deco5.imgUrl_m"
                    />
                    <img
                      :src="findPanel.deco5.imgUrl"
                      :alt="findPanel.deco5.alt"
                      class="w-full"
                    />
                  </picture>
                </div>
              </div>
            </div>
          </div>
          <div class="l-deco-10">
            <div class="a-block">
              <div class="c-deco-10">
                <div class="o-image relative">
                  <picture class="image-obj">
                    <source
                      media="(max-width: 640px)"
                      :srcset="findPanel.deco5.imgUrl_m"
                    />
                    <img
                      :src="findPanel.deco5.imgUrl"
                      :alt="findPanel.deco5.alt"
                      class="w-full"
                    />
                  </picture>
                </div>
              </div>
            </div>
          </div>
          <div class="l-deco-11">
            <div class="a-block">
              <div class="c-deco-11">
                <div class="o-image relative">
                  <picture class="image-obj">
                    <source
                      media="(max-width: 640px)"
                      :srcset="findPanel.deco6.imgUrl_m"
                    />
                    <img
                      :src="findPanel.deco6.imgUrl"
                      :alt="findPanel.deco6.alt"
                      class="w-full"
                    />
                  </picture>
                </div>
              </div>
            </div>
          </div>
          <div class="l-deco-12">
            <div class="a-block">
              <div class="c-deco-12">
                <div class="o-image relative">
                  <picture class="image-obj">
                    <source
                      media="(max-width: 640px)"
                      :srcset="findPanel.deco7.imgUrl_m"
                    />
                    <img
                      :src="findPanel.deco7.imgUrl"
                      :alt="findPanel.deco7.alt"
                      class="w-full"
                    />
                  </picture>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="l-message-panel pointer-events-none">
      <div class="c-message-panel" :class="_classMessage">
        <div class="c-message-panel__wrap relative duration-250">
          <div class="c-background">
            <div class="o-image relative">
              <picture class="image-obj">
                <source
                  media="(max-width: 640px)"
                  :srcset="message.background.imgUrl_m"
                />
                <img
                  :src="message.background.imgUrl"
                  :alt="message.background.alt"
                  class="w-full"
                />
              </picture>
            </div>
          </div>
          <div class="l-content w-full">
            <div class="c-content">
              <p class="o-text font-medium f-noto text-center">
                {{ message.content.text }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
