.c-topic {
  .c-topic__wrap {
    .c-inner {
      @include image-inner(100, 100);

      width: clamp(1px, px2vw(100), 100px);
    }

    .l-picture {
      @include size(100%);

      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      z-index: 20;
    }

    .c-picture {
      @include size(100%);

      .o-image {
        @include size(100%);
      }
    }

    .l-background {
      position: absolute;
      top: 54%;
      left: 58%;
      transform: translate(-50%, -50%);
      z-index: 10;
    }

    .c-background {
      .o-image {
        @include image-inner(292, 270);

        width: clamp(1px, px2vw(130), 130px);
      }
    }
  }
}
