@use 'sass:math';

$breakpoints: (
  mm: 320px,
  m: 375px,
  sm: 640px,
  md: 768px,
  lg: 1044px,
  xl: 1280px,
  xxl: 1440px,
);

$c-grayscale-000: #000;
$c-grayscale-fff: #fff;
$c-grayscale-363: #363636;
$c-grayscale-757: #757575;
$c-grayscale-ddd: #ddd;
$c-yellow-f6d: #f6d851;
$c-green-18a: #18a29a;
$c-green-129: #129066;
$c-green-53a: #53a4af;
$c-blue-1aa: #1aa3d9;
$c-blue-349: #3498db;
$c-blue-207: #207da3;
$c-blue-93d: #93d1db;
$c-orange-f29: #f29625;

$d-size: 1440;
$m-size: 375;

$z-loading: 800;
$z-login: 700;
$z-countdown: 600;
$z-popup: 600;
$z-topic: 500;
$z-message: 500;
$z-game: 0;
