@import '~assets/scss/_config';

/*
 * 斷點
 */
// +media-up(sm)
@mixin media-up($breakpoint) {
  $breakpoint-value: map-get($breakpoints, $breakpoint);
  @media screen and (min-width: $breakpoint-value) {
    @content;
  }
}

// +media-up-num(1920)
@mixin media-up-num($num: 1920) {
  @media screen and (min-width: ($num * 1px)) {
    @content;
  }
}

// +media-down(sm)
@mixin media-down($breakpoint) {
  $breakpoint-value: map-get($breakpoints, $breakpoint);
  @media screen and (max-width: ($breakpoint-value)) {
    @content;
  }
}

// +media-up-num(1234)
@mixin media-down-num($num) {
  @media screen and (max-width: ($num * 1px - 1)) {
    @content;
  }
}


@mixin fz-vw-l($size) {
  font-size: px2vw($size, $d-size);
}


// @mixin fz-vw-m($size) {
//   font-size: px2vw($size, $design-mw-m);
// }


@mixin fz-vw-s($size) {
  font-size: px2vw($size, $m-size);
}


@mixin fz-vw($size, $design-num) {
  font-size: px2vw($size, $design-num);
}


// +ls(15, 22)
@mixin ls($ls, $fz) {
  letter-spacing: math.div($ls, $fz) * 1em;
}


@mixin ls-normal {
  letter-spacing: normal;
}


// +lh(15,22)
@mixin lh($lh, $fz) {
  line-height: math.div($lh, $fz);
}

// +fw(500)
//
// - 100 ( Thin, Hairline )
// - 200 ( Extra Light, Ultra Light )
// - 300 ( Light )
// - 400 ( Normal, Regular )
// - 500 ( Medium )
// - 600 ( Semi Bold, Demi Bold )
// - 700 ( Bold )
// - 800 ( Extra Bold, Ultra Bold )
// - 900 ( Black, Heavy )
// - 950 ( Extra Black, Ultra Black )
@mixin fw($weight: 400) {
  font-weight: $weight;
}


@mixin aspect-ratio-after($rw: 100, $rh: 100, $w: 100%) {
  &::after {
    content: '';
    display: block;
    padding-top: calc(#{$w} / #{$rw} * #{$rh});
  }
}


@mixin img-center {
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}


