img {
  display: none;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
}

.c-canvasShow {
  z-index: 3;
}

.c-canvasMap {
  z-index: 5;
  // opacity: 0;
}

.c-canvas-game {
  touch-action: none;
}
