<section class="c-loading">
  <div class="c-loading__wrap">
    <div class="c-battery">
      <div class="c-battery__wrap">
        <div class="o-image relative">
          <div class="image-obj">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 94.12 171.94">
              <defs>
                <style>
                  .cls-1 {
                    fill: #fff;
                  }
                  .cls-2 {
                    fill: #8aff3e;
                  }
                </style>
              </defs>
              <g id="Layer_2" data-name="Layer 2">
                <g id="Layer_2-2" data-name="Layer 2">
                  <rect class="cls-1" width="94.12" height="160.32" />
                  <path
                    d="M28.77,160.32v11.62H65.12V160.32h29V0H0V160.32ZM8,8H86.12V152.32H8Z"
                  />
                  <rect
                    class="cls-2"
                    x="13.82"
                    y="13.8"
                    width="66"
                    height="132.79"
                  />
                </g>
              </g>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
