<section class="c-loading duration-1000" :class="_classRoot">
  <div class="c-loading__wrap relative">
    <div class="l-start pointer-events-none">
      <button
        class="c-start pointer duration-500"
        :class="_classButtonStart"
        @click="onStartButtonClick"
      >
        <div class="c-start__wrap">
          <div class="o-text f-os duration-250">START</div>
        </div>
      </button>
    </div>
    <div class="l-start-word pointer-events-none">
      <div class="c-start-word duration-1000" :class="_classStartWord">
        <div class="c-start-word__wrap">
          <p ref="start-word" class="o-text f-noto">{{ startWord.text }}</p>
        </div>
      </div>
    </div>

    <div
      v-for="(item, index) in anims"
      :key="item.alt"
      :class="`l-anim-0${index+1}`"
      class="pointer-events-none"
    >
      <div :class="`c-anim-0${index+1}`">
        <div class="a-anim" :class="_classAnim(index)">
          <div class="c-anim__wrap">
            <div class="o-image relative">
              <picture class="image-obj">
                <source media="(max-width: 640px)" :srcset="item.imgUrl_m" />
                <img :src="item.imgUrl" :alt="item.alt" class="w-full" />
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
